<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Dunkin.Properties.Settings.EmpListConnectionString"
        connectionString="Data Source=LAPTOP-IFV6NHU7;Initial Catalog=EmpList;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
    <add name="Dunkin.Properties.Settings.EmpListConnectionString"
        connectionString="Data Source=LAPTOP-IFV6NHU7;Initial Catalog=EmpList;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
    <add name="Dunkin.Properties.Settings.dbDunkinConnectionString"
        connectionString="Data Source=LAPTOP-IFV6NHU7;Initial Catalog=dbDunkin;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
